
<!-- <h1>Angular</h1> -->
<!--<authors></authors>
<courses></courses>
<movie-title></movie-title>-->

<!-- <favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChange($event)"></favorite>

<button (click)="onAdd()">Add</button>

<ul>
    <li *ngFor="let course of courses; even as isEven; trackBy: trackCourse()">
       {{ course.name }} <span *ngIf="isEven">(EVEN)</span> <button (click)="onRemove(course.id)">Remove</button>
    </li>
</ul>

<table style="width: 500px">
        <tr>
            <th>Course</th>
            <th>Id</th>
        </tr>
        <tr *ngFor="let course of courses">
            <td>{{ course.name }}</td>
            <td>{{ course.id }}</td>
        </tr>
</table>

<input type="text" [appInputFormat]="'lowercase'"> -->
<!-- <h1 style="text-align:center; margin-bottom:50px;">Order Details</h1>

<zippy title="Billing Details">
    Billing Content
</zippy>

<zippy title="Shipping Details">
    Shipping Content
</zippy> -->

 <!-- <contact-form></contact-form>  -->

<!-- <course-form></course-form> -->
<signup-form></signup-form>
